#addNewResources{
    background-color: lightgreen;
}

.addNewResourcesDiv{
    padding: 10px;
}

.loginEmoji{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    padding: 32px;
}

.loginEmojiText {
    text-align: center;
    font-size: 24px;
}

a:link {
     color: green;
     background-color: transparent;
     text-decoration: none;
 }

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

