<div class="crisis-button" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>Crisis Numbers</mat-card-title>
            <mat-divider></mat-divider>

            <mat-card-content id="static-emergency-numbers">
                Suicide prevention Lifeline: <a href="tel:1-800-273-8255">1-800-273-8255</a>
                <br>
                Crisis Hotline: <a href="tel:775-784-8090">775-784-8090</a>
                <br>
            </mat-card-content>
            <mat-accordion *ngIf="contact; else contactError" >
                <mat-expansion-panel #elem class="contact" [id]="contact.email"  *ngFor="let contact of this.filterContact(contactName)">
                    <mat-expansion-panel-header>
                        <mat-panel-title id="test" matTooltip="ID: {{contact._id['$oid']}}" >{{contact.name}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description >Email: {{contact.email}}</mat-panel-description>
                    <mat-panel-description >Phone Number: {{contact.phone}}</mat-panel-description>
                </mat-expansion-panel>
            </mat-accordion>

            <ng-template #contactError>
                <mat-error>
                    There was a problem loading the data. Possibly the server is down or perhaps there are network
                    issues.
                </mat-error>
                <mat-error>
                    Please wait a bit and try again or start the server.
                </mat-error>
            </ng-template>

        </mat-card>
    </div>
</div>
