<mat-card>
    <mat-card-content class="addedContact">
        <mat-card-title>Your Contacts</mat-card-title>
        <mat-divider></mat-divider>

        <mat-accordion *ngIf="contact; else contactError" >
            <mat-expansion-panel #elem class="contact" [id]="contact.userID"  *ngFor="let contact of this.filterContact(contactName)">
                <mat-expansion-panel-header>
                    <mat-panel-title id="test" matTooltip="ID: {{contact._id['$oid']}}" >{{contact.name}}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description >Name: {{contact.name}}</mat-panel-description>
                <mat-panel-description >UserID: {{contact.userID}}</mat-panel-description>
                <mat-panel-description >Phone Number: {{contact.phone}}</mat-panel-description>
            </mat-expansion-panel>
        </mat-accordion>

        <ng-template #contactError>
            <mat-error>
                There was a problem loading the data. Possibly the server is down or perhaps there are network
                issues.
            </mat-error>
            <mat-error>
                Please wait a bit and try again or start the server.
            </mat-error>
        </ng-template>

    </mat-card-content>
    <button mat-raised-button id="exitButton" (click)="onNoClick()" type="button">Close</button>
</mat-card>
