<mat-card>
    <mat-card-content class="addedContact">
        <mat-card-title>Your Contacts</mat-card-title>
        <mat-divider></mat-divider>

        <mat-accordion *ngIf="contact; else contactError" >
            <mat-expansion-panel #elem class="contact" [id]="contact.email"  *ngFor="let contact of this.filterContact(contactName)">
                <mat-expansion-panel-header>
                    <mat-panel-title id="test" matTooltip="ID: {{contact._id['$oid']}}" >{{contact.name}}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description >Name: {{contact.name}}</mat-panel-description>
                <mat-panel-description >Email: {{contact.email}}</mat-panel-description>
                <mat-panel-description >Phone Number: {{contact.phone}}</mat-panel-description>
            </mat-expansion-panel>

             <!--Function for favorite and unfavorite a contact -->
            <mat-card-actions>
                <button mat-button *ngIf="contact.favorite" class="check-buttons" (click)="editContact(contact._id['$oid'], contact.userID, contact.name, contact.email, contact.phone, true); openSnackBar(contact.name + ' Favorited', '❤️')">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-button *ngIf="contact.favorite" class="edit-buttons" (click)="openDialogEdit(contact._id['$oid'],contact.userID, contact.name, contact.email, contact.phone, contact.favorite)">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </mat-card-actions>

        </mat-accordion>

        <ng-template #contactError>
            <mat-error>
                There was a problem loading the data. Possibly the server is down or perhaps there are network
                issues.
            </mat-error>
            <mat-error>
                Please wait a bit and try again or start the server.
            </mat-error>
        </ng-template>

    </mat-card-content>
    <button mat-raised-button id="exitButton" (click)="onNoClick()" type="button">Close</button>
</mat-card>
