<div *ngIf="appService.isSignedIn(); else promptLogin">

    <div>
        <ol>
            <button id = "addNewContact" class="addItem" mat-raised-button (click)="openDialog()">Add your own contact</button>
        </ol>
    </div>

    <!-- Contact Phone numbers card is being inserted here-->

    <mat-card>
        <mat-card-content class="addedContact" id="addedContact">
            <mat-card-title id="contactTitle">Your Contacts</mat-card-title>
            <mat-divider></mat-divider>

         <mat-accordion *ngIf="contact; else contactError" >
              <mat-expansion-panel #elem class="contact" [id]="contact.email"  *ngFor="let contact of this.filterContact(contactName)">
                    <mat-expansion-panel-header>
                        <mat-panel-title id="test" matTooltip="ID: {{contact._id['$oid']}}" >{{contact.name}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description >Name: {{contact.name}}</mat-panel-description>
                    <mat-panel-description >Email: {{contact.email}}</mat-panel-description>
                    <mat-panel-description >Phone Number: {{contact.phone}}</mat-panel-description>
                    <mat-panel-description><button mat-raised-button (click)="favoriteContact(contact._id['$oid'], contact.name, contact.email, contact.phone)">Favorite Contact</button>
                        <button mat-raised-button (click)="openDialogReview(contact._id['$oid'], contact.name, contact.email, contact.phone)">Edit Phone Number</button> </mat-panel-description>
             </mat-expansion-panel>
            </mat-accordion>

           <ng-template #contactError>
                <mat-error>
                    There was a problem loading the data. Possibly the server is down or perhaps there are network
                    issues.
             </mat-error>
                <mat-error>
                    Please wait a bit and try again or start the server.
                </mat-error>
            </ng-template>

        </mat-card-content>
    </mat-card>

</div>

<!-- What to display if the user isn't logged in -->
<ng-template #promptLogin>
    <img class="loginEmoji" src="https://image.flaticon.com/icons/svg/260/260205.svg" alt="Sunshine Journal">
    <p class="loginEmojiText">Please sign in with your google account to access Sunshine Journal</p>
</ng-template>
