<div class="add-contact" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>Edit Contact</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-form-field>
                    <input matInput #input id="nameField" placeholder="Name" [(ngModel)]="data.contact.name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #input id="emailField" placeholder="Email" [(ngModel)]="data.contact.email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #input id="phonenumberField" placeholder="Phone Number" [(ngModel)]="data.contact.phone">
                </mat-form-field>
                <button mat-button id="confirmAddcontactButton" [mat-dialog-close]="data.contact" type="button">Edit Contact</button>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button id="exitWithoutAddingButton" (click)="onNoClick()" type="button">Exit Without Saving</button>
    </div>
</div>
